@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
head {
	text-align: center;
}

body {
	background-color:#fffaba;
	text-align: center;
	color: black;
	font-family: courier;
}

#container {
	margin-top: 33px;
}

#fruits {
	position: absolute;
	width:100%;
	height:85%;
	bottom: 1px;
}

#ocean {
	position: absolute;
	width:100%;
	height:73%;
	bottom: 1px;
}

#lake {
	position: absolute;
	width:100%;
	height:61%;
	bottom: 1px;
}

#bugs {
	position: absolute;
	width:100%;
	height:49%;
	bottom: 1px;
}

img {
	margin-top: 5px;
	margin-right: 20px;
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
}

#form {
	position: absolute;
	width:100%;
	height:25%;
	bottom: 1px;
}

#market {
	height: 70%;
	width: 100%;
	position: absolute;
}

#buying {
	width: calc(50% - 10px);
	margin-left: 10px;
	margin-top: 10px;
}

#selling {
	width: calc(50% - 10px);
	left: 50%;
	margin-top: 10px;
}

#buying, #selling {
	position: absolute;
}

.display {
	border: solid 2px white;
	position: absolute;
	width: 100%;
	height: 400px;
}

input.user {
	width: 80px;
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;	/* Height of the footer */
}